@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap);

*{
  font-family:  'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
.mv1380-max {
    max-width: 60vw;
    margin-left: 36%;
    margin-right: auto;
    margin-top: 5vh;
}
.cache{
    display: none;
  }
.rouge{
    color: red;  
  }
  td{
    width : 7%;
    color: white;
    border-left: white;
    border-right: white;
    ;
  }
  #myInput { 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 80%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    margin-left: 10%;
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 80%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
    margin-left: 10%;
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
  }
  
  #myTable tr {
   
    border-bottom: 1px solid #ddd;
  }
  
 

  h1{
    margin-left: 45%;
    margin-bottom: 2%;
    margin-top: 3%;
    color: white;
  
  }
  .ReturnAnnu{
    width: 10%;
    height: 7%;
    font-size: 15px;
    margin-left: 45%;
    margin-top: 150px;

  }
  #button{
    margin-top: 2%;
  }
  button{
    background-color: #0d6efd;
    border-radius: 5px 5px 5px 5px;
    border : none;
  }
  button a{
    text-decoration: none;
    color: white;
    
  }
  
  a:hover {
    color: white;

  }
  .jerange{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
  }
  #tab {
    text-decoration: none;
    color: white;
    padding: 7px 20px ;
   
    background-color: #0d6efd;
    border-radius: 5px 5px 5px 5px;
    margin-top: 4px;
    
  }
  #priseC{
    margin-left: 35%;
  }
  .form-control{
    width: 500px;
    margin: 1%;
  }
  a {
    text-decoration: none;
    color: red;
  }
  label{color: white;}
  
  a#update{
    color: white;
  }